@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
:root {
    --primary-color: #86bbd8ff;
    --secondary-color: #f6ae2dff;
    --tertiary-color:#758e4fff;
    --accent1-color: #33658aff;
    --accent2-color: #f26419ff;
    --heading-font: Bree Serif;
    --subheading-font: Shrikhand;
    --paragraph-font: Roboto;
    --nav-background-color:#86bbd8ff;
    --nav-link-color: #f6ae2dff;
    --nav-hover-link-color:#f26419ff;
    --nav-hover-background-color: #86bbd8ff;
}   

body{
    font-family:var(--paragraph-font);
    max-width:960px;
    padding:20px;
}
  
h1{ 
    font-family:var(--heading-font);
    color:var(--accent2-color);
}

h2,h3,h4,h5,h6 {
    font-family:var(--subheading-font);
    color:var(--accent1-color);
}

header{
    background-color:var(--primary-color);
    padding:5px;
}

p {
    padding:2px;
}

nav{
    background-color:var(--nav-background-color);
    font-size: 1em;
    display:flex;
   /* padding: 10px;*/
}
nav a{
    color:var(--nav-link-color);
    display:inline-block;
    padding: .5em;
}
nav a:link{
    color:var(--nav-hover-link-color)
}
nav a:visited{
    color:var(--secondary-color)
}

nav a:hover{
    color:var(--secondary-color)
}


