.callout {
	width: 300px;
    margin: 12px;
    border: 1px rgb(2 121 139);
    padding: 15px;
    background-color: black;
    color: #fff;
}

.callout img {
    float: right;
    margin: 0 0 10px 15 px;
    border: 1px solid black;
    padding: 2px;
    background-color: antiquewhite;
    width: 98px;
    height: auto;
	
}

blockquote {
	margin:0
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}